*{
  box-sizing:border-box;
}
html,
body{
  height:100%;
}
body{
  background:#000000;
  display: grid;
  place-items: center;
}
.loading{
  width: 40px;
  height: 40px;
  background: rgb(255, 254, 254);
  border-radius: 5px;
  animation: rotate 2s infinite ease-in-out;
}
@keyframes rotate{
  0%{
    transform: perspective(120px) rotateX(0deg) rotateY(0deg);
  }
  50% {
    transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
  }
  100% {
    transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
  }
   0%  {
    border-radius:20 20 20 20;


  }
/*   25%  {
    border-radius:20% 20% 20% 20%;


  } */
/*   50%  {
    border-radius:40% 40% 40% 40%;


  } */
  75%  {
    border-radius:60% 60% 60% 60%;


  }
   100% {
     border-radius:80% 80% 80% 80%;


  } 
}
  
