*{
  box-sizing:border-box;
}
html,
body{
  height:100%;
}
body{
  background:#5B5CEB;
  display: grid;
  place-items: center;
}
.loading{
  width: 40px;
  height: 40px;
  background: #48D49C;
  border-radius: 5px;
  animation: rotate 2s infinite ease-in-out;
}
@keyframes rotate{
  0%{
    transform: perspective(120px) rotateX(0deg) rotateY(0deg);
  }
  50% {
    transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
  }
  100% {
    transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
  }
   0%  {
    border-radius:20 20 20 20;
  }
  75%  {
    border-radius:60% 60% 60% 60%;
  }

}
  
